//font colors
$color-primary: #007BFF;
$color-secondary: #FFFFFF; 
$color-support: #0A0A23;

//font styles
$font-header: 'Roboto', Arial, sans-serif;
$font-body: 'Lato', 'Helvetica Neue', sans-serif;

// font size variables
$font-size-header: 24px; 
$font-size-body: 16px; 
$font-size-h1: 36px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 16px;